[Desktop Entry]
Version=1.0
Name=PyRoom
Icon=/usr/share/pyroom/pyroom.png
Comment=Distraction free full-screen text editor
Exec=/usr/bin/pyroom %F
Terminal=false
Type=Application
Categories=GNOME;GTK;Office;
StartupNotify=false
Name[en_US]=PyRoom
